<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Time To Eat!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
    <script src="https://www.promisejs.org/polyfills/promise-7.0.1.min.js"></script>
    
  </head>

  <body>
    <div id="container">

      <div id="landing">
          <h1 class="fadetext1"> Hello. </h1>
          <h3 class="fadetext"> Why don't you tell me where you are? I want to find the <span id="perfect">perfect</span> restaurant for you.</h3>
          <button id="okbutton" class="fadetext"> Ok </button>
          <img src="images/goat.jpg" alt="goat head" id="goat" class="blurclass">
      </div>

      <div id="textHolder"></div>
      <div id="buttonHolder"></div>

      <div id="map"></div>

    </container>

  <script src="javascripts/sketch.js" type="text/javascript"></script>  
  </body>
</html>
