
html, body,#container, #map {
  height:100%;
  width:100%;
  padding:0px;
  margin:0px;
  z-index: 0;
} 

#goat {
	width:100%;
	height:auto;
	z-index: 100;
	position: absolute;
	display: inline;
}

#perfect {
	font-style:italic;
	color: white;
    text-shadow:
       3px 3px 0 #B0011F,
       2px 2px 0 #B0011F,
      -1px -1px 0 #B0011F,  
       1px -1px 0 #B0011F,
      -1px 1px 0 #B0011F,
       1px 1px 0 #B0011F;
}

.blurclass {
	-webkit-filter: blur(3px);
}

h1,h3,#okbutton {
	position: absolute;
	display:block;
	z-index: 110;
	color:white;
	margin-right:auto;

}

h1 {
	margin-left:15%;
	margin-top:5%;
	font-size: 125px;
}

h3 {
	font-size:50px;
	margin-left: 20%;
	margin-top: 15%;
}




#okbutton {
	background-color:#f9f9f9;
	cursor:pointer;
	color:#B0011F;
	margin-top:25%;
	margin-left: 25%;
	font-size:25px;
	border: 1px;
	font-weight:bold;
	padding:15px 31px;
	text-decoration:none;
}
#okbutton:hover {
	background-color:#B0011F;
	color:#fff;
}
#okbutton:active {
	position:absolute;
	top:1px;
}


#textHolder, #buttonHolder {
	position:absolute;
	display:block;
	font-size: 30px;
	color:white;
	/*margin-left:10px;*/
	z-index: 120;
}

#buttonHolder {
	margin-top:15%;
	margin-left:15%;
	
}

#textHolder {
	margin-top:1%;
	margin-left:5%;
}

#restaurantbutton {
	background-color:#B0011F;
	cursor:pointer;
	font-size:25px;
	font-weight:bold;
	border: 1px;
	padding:10px 10px;
	font-style:italic;
    color: #B0011F;
    text-shadow:
       3px 3px 0 #fff,
       2px 2px 0 #fff,
      -1px -1px 0 #fff,  
       1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;

}
#restaurantbutton:hover {
	background-color:#fff;
	color:#fff;
    text-shadow:
       3px 3px 0 #B0011F,
       2px 2px 0 #B0011F,
      -1px -1px 0 #B0011F,  
       1px -1px 0 #B0011F,
      -1px 1px 0 #B0011F,
       1px 1px 0 #B0011F;
}
#restaurantbutton:active {
	position:absolute;
}


#textTransition {
	margin-top:10%;
	margin-bottom: auto;
}
